main {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 20vh);
    background-color: #efefef38;
}

#container-functions { 
    width: 90%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    border-bottom: 1px solid #d8d8d839 ;
}
/* Button add note */
#element-add-note {
    width: 145px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    transition: .4s ease;
    box-shadow: 0 0 .3em .05em #d8d8d8 ;
    background-color: #3970ff; 
}
#element-add-note:hover {
    background-color: #3907ff; 
}

/* Field search */
#container-search {
    width: 290px;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    padding: 0 16px;
    box-shadow: 0 0 .5em .05em #d8d8d880 ;
}
#element-search {
    width: 100%;
    height: auto;
    font-size: .9rem;
    color: #393939;
}

/* Container notes  */
#container-notes {
    width: 100%;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0;
    background-color: #fff;
}   
.case-note {
    width: 90%;
    height: 55px;
    display: flex;
    margin: 0 auto 10px;
}
.title-note {
    width: 25%;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #48d848;
    font-weight: 500;
    font-size: 1rem;
}
.container-description {
    width: 50%;
    height: 100%;
    display: flex; 
    align-items: center;
}
.description-note {
    color: #595959;
}
.container-button {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.eyes-icon {
    width: 24px;
    height: auto;
}
.status-categ-post {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.case-color-status {
    width: 44px;
    height: 24px;
    display: block;
    border-radius: 12px;
    
}
.red {
    background-color: rgb(248, 68, 68);
}
.yellow {
    background-color: rgb(250, 217, 72);
}
.green {
    background-color: #48d848;
}